@model Website.App.ViewModel.LoginViewModel

@{
    ViewData["Title"] = "登录";
    Layout = "~/Views/Shared/_LayoutTwo.cshtml";
}

@using (Html.BeginForm("index", "business", @FormMethod.Post, new { id = "form1", @class = "per_login" }))
{
    <div class="dk">
        <p>登录获取商机</p>
    </div>
    <div class="carMeg">
        <div class="xia">
            <div><input id="txtMobile" name="UserMobile" class="tel" type="text" placeholder="请输入手机号码" value="@(Model==null ? "" : Model.UserMobile)" /></div>
            <div style="margin-top:10px;">
                <input id="txtpwd" name="Password" class="tel" type="password" placeholder="请输入密码" value="@(Model==null ? "" : Model.Password)" />
            </div>
            <div>
                <div class="tips" id="valiMsg">@Model.Msg</div>
                <button type="submit" class="submit_button">登&nbsp;&nbsp;&nbsp;&nbsp;录</button>
            </div>
        </div>
        
    </div>
    <div style="text-align:center;font-size:14px;"><a href="/business/register">注册帐号>></a></div>
}