
@{
    ViewData["Title"] = "首页";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div data-role="content" class="container" style="padding-left: 0; padding-right: 0;">
    <!-- 轮播 B-->
    <div class="bm-top-zone">
        <img src="~/img/banner.jpg" alt="" />
    </div>

    <!--轮播 E-->
    <!-- 车辆业务 B-->
    <div class="personal_main">
        <h2 class="frist_h2">商机信息</h2>
        <ul>
            <li>
                <a href="customer-v1.0/car-transfer.aspx">
                    <i class="i3"></i>
                    <span>订阅商机</span>
                </a>
            </li>
            <li>
                <a href="customer-v1.0/car-transfer-move-out.aspx">
                    <i class="i2"></i>
                    <span>
                        发布商机
                    </span>
                </a>
            </li>
            <li>
                <a href="customer-v1.0/car-transfer-move-in.aspx">
                    <i class="i1"></i>
                    <span>我的商机</span>
                </a>
            </li>
        </ul>
    </div>
</div>

<!--四大服务-->
<div class="standard advantage clearfix">
    <h2 class="index-color-blue">四大服务优势</h2>
    <ul class="clearfix">
        <li>
            <i class="one"></i>
            <h3>方便快捷</h3>
            <p>
                省去自己的时间，商机自动推送，快速获取商机
            </p>
        </li>
        <li>
            <i class="two"></i>
            <h3>价格合理</h3>
            <p>
                明码标价，价格合理，
                杜绝隐性收费
            </p>
        </li>
        <li>
            <i class="three"></i>
            <h3>代找服务</h3>
            <p>专业商机顾问，“一对一全程代办服务，客户经理全程实时监督服务</p>
        </li>
        <li>
            <i class="four"></i>
            <h3>退款保障</h3>
            <p>服务不满意，款项随时可以退还。</p>
        </li>
    </ul>
</div>

<!--办理流程 -->
@*<div class="standard process clearfix">
    <h2 class="index-color-blue">办理流程</h2>
    <div>
        <i class="lc1"></i>提交订单
    </div>
    <em class="arrow"></em>
    <div>

        <i class="lc2"></i><span class="lc2-title">客服指导</span>
    </div>
    <p class="clearfix">
        <cite>
            <em class="arrow"></em>
        </cite>
        <cite>
            <em class="arrow"></em>
        </cite>
    </p>
    <section>
        <span><i class="lc3"></i>快递材料</span>
        <span><i class="lc4"></i>现场陪同</span>
    </section>
    <p class="clearfix">
        <cite>
            <em class="arrow"></em>
        </cite>
        <cite>
            <em class="arrow"></em>
        </cite>
    </p>
    <div>
        <i class="lc5"></i>线下办理
    </div>
    <em class="arrow"></em>
    <div>
        <i class="lc6"></i>完成评价
    </div>
</div>*@

<!--京牌车顾问-->
<div class="standard hj-section clearfix">
    <h2 class="index-color-blue">金牌商机顾问</h2>
    <ul class="my-tj my-tj2 my-gw clearfix">
        <li>
            <div>
                <dl class="clearfix">
                    <dt>
                        <img src="~/img/201610132258248542080427802_ms.jpeg" alt="">
                    </dt>
                    <dd>
                        <p class="name-gw">屈文斌</p>
                        <p>接单量<em>205</em>单</p>
                        <span>
                            <em class="star-g">
                                <em class="star-y" style="width: 100%;"></em>
                            </em>
                        </span>
                    </dd>
                </dl>
            </div>
        </li>
        <li>
            <div>
                <dl class="clearfix">
                    <dt>
                        <img src="~/img/201610132258519052080427802_ms.jpeg" alt="">
                    </dt>
                    <dd>
                        <p class="name-gw">李伟<p>
                        <p>接单量<em>155</em>单</p>
                        <span>
                            <em class="star-g">
                                <em class="star-y" style="width: 100%;"></em>
                            </em>
                        </span>
                    </dd>
                </dl>
            </div>
        </li>
        <li>
            <div>
                <dl class="clearfix">
                    <dt>
                        <img src="~/img/201610132259332862080427802_ms.jpg" alt="">
                    </dt>
                    <dd>
                        <p class="name-gw">刘家明</p>
                        <p>接单量<em>196</em>单</p>
                        <span>
                            <em class="star-g">
                                <em class="star-y" style="width: 100%;"></em>
                            </em>
                        </span>
                    </dd>
                </dl>
            </div>
        </li>
        <li>
            <div>
                <dl class="clearfix">
                    <dt>
                        <img src="~/img/201610132259144702080427802_ms.jpeg" alt="">
                    </dt>
                    <dd>
                        <p class="name-gw">余海波</p>
                        <p>接单量<em>200</em>单</p>
                        <span>
                            <em class="star-g">
                                <em class="star-y" style="width: 100%;"></em>
                            </em>
                        </span>
                    </dd>
                </dl>
            </div>
        </li>
    </ul>
    <section>
        <div class="slogan"></div>
        <p>
            <span class="index-color-blue">惠商机</span>隶属于车网天下（北京）汽车技术服务有限公司，是一站式商务房源O2O服务平台！惠商机全面服务于个人商户，惠商机为您汇商机！
        </p>

    </section>
</div>
<!--底部栏 -->
<div class="footer-index">
    <a id="one" class="subMenu active" href="/business/index">
        <span class="tab-img tab-img-index"></span>
        <span class="menu_name">首页</span>
    </a>
    <a id="two" class="subMenu" href="/business/order">
        <span class="tab-img tab-img-order"></span>
        <span class="menu_name">我的商机</span>
    </a>
    <a id="three" class="subMenu" href="/business/articles">
        <span class="tab-img tab-img-knowledge"></span>
        <span class="menu_name">关于我们</span>
    </a>
</div>
@section Scripts{

<script type="text/javascript" src="../js/location.js" asp-append-version="true"> </script>
<script type="text/javascript">
    //定位城市
    (function () {
        function getGpsPosition(position) {
            //alert("H5定位成功");
            Locstor.set("user-DenyShareAddress", false);
            getPosition(position);
        }
        function getIpPostion(position) {
            //alert("IP定位成功");
            if (position.province == "" || position.city == "") {
                //alert("定位城市失败:"+JSON.stringify(position));
                getPosition({
                    province: "北京",
                    city: "北京市"
                });
            } else {
                getPosition(position);
            }
        }
        function getPosition(position) {
            //与服务器交换地址信息
            //var isUserDeayAddress = Locstor.get("user-DenyShareAddress");
            //if (isUserDeayAddress) {
            //    alert("你拒绝了共享位置");
            //}
            $.ajax({
                url: "/ajax/api.aspx",
                data: {
                    action: "GetLocationInfo"
                    , pname: position.province
                    , cname: position.city
                    , dname: position.district
                },
                type: "GET",
                dataType: "JSON",
                success: function (response) {
                    if (!response.IsError) {
                        setUserAddressInfo(response.Data);
                    }
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    alert(textStatus);
                }
            });
        }
        function setUserAddressInfo(addressInfo) {
            if (addressInfo) {
                var exp = new Date();
                addressInfo.expireDate = exp.getTime() + 10 * 60 * 1000;
            }
            Locstor.set("user-address", addressInfo);
            utils.seCurrentCityId(addressInfo.CityId || 201);//兼容以前的旧方法
            $("#cname").html(addressInfo.CityName);
            $("#linkCitySelect").on("click", function (e) {
                window.location.href = "citySelect.aspx?cid=" + addressInfo.CityId;
            });
        }

        function init() {
            //先检查旧的地址信息是否存在，且是否过期，是的话重新获取定位信息
            var oldUserAddress = Locstor.get("user-address");
            var now = new Date().getTime();
            if (oldUserAddress && oldUserAddress.expireDate && (now <= oldUserAddress.expireDate)) {
                setUserAddressInfo(oldUserAddress);
            } else {
                h5Location.getCurrLocation(getGpsPosition, function () {
                    Locstor.set("user-DenyShareAddress", true);
                    h5Location.getCurrIpLocation(getIpPostion, function () {
                        // alert("IP地址获取失败");
                        getPosition({
                            province: "北京",
                            city: "北京市"
                        });
                    });
                });
            }
        }

        //init();
    })();



    $('.side-bar a').click(function () {
        $('.side-bar a').removeClass("activ");
        $(this).addClass("activ");
    });


    var flag = true;
    $(".icon-chat").click(function () {
        if (flag) {
            $(".chat-tips").css("display", "block");
        } else {
            $(".chat-tips").css("display", "none");
        }
        flag = !flag;
    });

    $(".icon-tel").click(function () {
        $(".chat-tips").css("display", "none");
        flag = true;
    });


    $(window).scroll(function () {
        var sTop = $(window).scrollTop();
        if (sTop > 600) {
            $('.icon-back').css("display", "block");
        } else {
            $('.icon-back').css("display", "none");
        }
    });
    $('.icon-back').click(function () {
        $(".chat-tips").css("display", "none");
        flag = true;
        $('html,body').animate({ 'scrollTop': 0 }, 500);
    });
</script>

}