@model Website.ApiInvoke.Entity.ResponseEntity<UserAccount>;

@{
    ViewData["Title"] = "登录";
    Layout = "~/Views/Shared/_LayoutTwo.cshtml";
}

@using (Html.BeginForm("index", "business", @FormMethod.Post, new { id = "form1", @class = "per_login" }))
{
    <div class="dk">
        <p>登录获取商机</p>
    </div>
    <div class="carMeg">
        <div class="xia">
            <div><input id="txtMobile" name="txtMobile" class="tel" type="text" placeholder="请输入手机号码" /></div>
            <div style="margin-top:10px;">
                <input id="txtpwd" name="txtpwd" class="tel" type="password" placeholder="请输入密码" />
            </div>
            <div>
                <div class="tips" id="valiMsg"></div>
                <button type="submit" class="submit_button">登&nbsp;&nbsp;&nbsp;&nbsp;录</button>
            </div>
        </div>
        
    </div>
    <div style="text-align:center;font-size:14px;"><a href="/business/register">注册帐号>></a></div>
}

@section Scripts{
    <script type="text/javascript">
    $(function () {
        $("#valiMsg").html("@Model.message");
    });
    </script>
}