
@{
    ViewData["Title"] = "我的发布";
    Layout = "~/Views/Shared/_LayoutTwo.cshtml";
}
<div class="zhishi">
    <div class="dk">
        <p>我的发布</p>
    </div>
    <div class="newsItem">

        <a href="/articles/article-39">
            <dl class="clearfix">
                <dt>
                    <i class="i1 newsItem_img">
                        <img src='/UpLoadImage/ArticleTitleImg/20171121754273972080427802.jpg' alt="" />
                    </i>
                </dt>
                <dd>
                    <p class="news_title">国产车新车上牌</p>
                    <p class=" news_sub_title"></p>
                    <p class="news_type">新车上牌</p>
                </dd>
            </dl>
        </a>

        <a href="/articles/article-38">
            <dl class="clearfix">
                <dt>
                    <i class="i1 newsItem_img">
                        <img src='/UpLoadImage/ArticleTitleImg/20171111721382762080427802.jpg' alt="" />
                    </i>
                </dt>
                <dd>
                    <p class="news_title">补领登记证书详解</p>
                    <p class=" news_sub_title"></p>
                    <p class="news_type">车务知识</p>
                </dd>
            </dl>
        </a>

        <a href="/articles/article-37">
            <dl class="clearfix">
                <dt>
                    <i class="i1 newsItem_img">
                        <img src='/UpLoadImage/ArticleTitleImg/201710311733508292080427802.jpg' alt="" />
                    </i>
                </dt>
                <dd>
                    <p class="news_title">机动车转移登记（本市过户）详解</p>
                    <p class=" news_sub_title"></p>
                    <p class="news_type">车辆过户</p>
                </dd>
            </dl>
        </a>

    </div>
</div>
