@model Website.Models.UserData

@{
    ViewData["Title"] = "我的商机";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="zhishi">
    <div class="dk">
        <p>我的商机</p>
    </div>
</div>
<!--底部栏 -->
<div class="footer-index">
    <a id="one" class="subMenu" href="/home/index">
        <span class="tab-img tab-img-index"></span>
        <span class="menu_name">首页</span>
    </a>
    <a id="two" class="subMenu active" href="/business/index">
        <span class="tab-img tab-img-order"></span>
        <span class="menu_name">我的商机</span>
    </a>
    <a id="three" class="subMenu" href="/company/index">
        <span class="tab-img tab-img-knowledge"></span>
        <span class="menu_name">关于我们</span>
    </a>
</div>