
@{
    ViewData["Title"] = "Pub";
    Layout = "~/Views/Shared/_LayoutTwo.cshtml";
}

@using (Html.BeginForm("pub", "business", @FormMethod.Post, new { id = "form1", @class = "per_login" }))
{
    <div class="dk">
        <p>发布商机</p>
    </div>
}

