@model Website.ApiInvoke.Entity.ResponseEntity<int>;
@{
    ViewData["Title"] = "注册帐号";
    Layout = "~/Views/Shared/_LayoutTwo.cshtml";
}

<form asp-controller="business" asp-action="register" method="post" class="per_login" id="form1">
    <div class="dk">
        <p>注册获取商机</p>
    </div>
    <div class="carMeg">
        <div class="xia">
            <div>
                <input id="txtMobile" name="txtMobile" class="tel" type="text" placeholder="请输入手机号码" />
            </div>
            <div style="margin-top:10px;">
                <input id="txtName" class="tel" name="txtName" type="text" placeholder="请输入用户名" />
            </div>
            <div style="margin-top:10px;">
                <input id="txtPwd" class="tel" name="txtPwd" type="password" placeholder="请输入密码" />
            </div>
            <div style="margin-top:10px;">
                <input id="txtRePwd" class="tel" name="txtRePwd" type="password" placeholder="请确认密码" />
            </div>
            <div class="useryzm">
                <input id="txtCheckCode" name="txtCheckCode" class="carPhone_lastinput1 yzm" type="text" placeholder="请输入验证码" />
                <input id="btn-send-code" class="carPhone_lastinput2" type="button" value="发送验证码" />
            </div>
            <div class="tips" id="valiMsg"></div>
            <button id="submit" type="submit" class="submit_button">注&nbsp;&nbsp;&nbsp;&nbsp;册</button>
        </div>
    </div>
</form>

@section Scripts{
    <script type="text/javascript">
        $(function () {
            $("#valiMsg").html("@Model.message");

            $("#btn-send-code").click(function () {
                var that = this;
                var strMobile = $.trim($("#txtMobile").val());
                if (strMobile != "") {
                    $.post("/business/SendMsg", { mobile: strMobile }, function (data) {
                        if (data != null) {
                            if (data.isSuccess && data.code == 0) {
                                $(that).attr("disabled", "disabled");
                                $("#valiMsg").html("短信已发送，请注意查收");
                            } else {
                                $("#valiMsg").html(data.message);
                            }
                        }
                    });
                } else {
                    $("#txtMobile").focus();
                    $("#valiMsg").html("请输入手机号");
                }
            });
        });
    </script>
}
