/**底部标签页 样式*/
/*.tab-img {
        width: 23px;height: 23px;
        display: inline-block;
        background-size: contain;
    }
    .tab-img-index {
        background-image: url(/images/sy.png);
    }
    .active .tab-img-index {
        background-image: url(/images/sy-active.png);
    }
    .tab-img-order {
        background-image: url(/images/order.png);
    }
    .active .tab-img-order {
        background-image: url(/images/order-active.png);
    }
    .tab-img-knowledge {
         background-image: url(/images/zs.png);
    }
    .active .tab-img-knowledge {
         background-image: url(/images/zs-active.png);
    }*/

/**更多服务 图标样式**/
/*.personal .personal_down li a .footer6 {
    background: url(~/img/icon-more.png) no-repeat;
    background-size: contain;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    left: 0;
    top: 15px;
    width: 18px;
    height: 18px;
}*/
/**登录页 验证码与手机号输入框的间距调大一些***/
/*.per_login .yzm {
    margin-top: 15px;
}*/
/****/
/*.process div i.lc2 {
    background: url(~/img/icon-user-guide.png) no-repeat;
    background-size: contain;
    width: 25px;
    height: 25px;
}
  .process div .lc2-title {
    
   }*/
/**首页字体颜色*/
/*.index-color-blue {
     color: #3fabf4!important;
 }*/
/**重写车牌通图标样式**/
/*.more .more_serve li .i2 {
    background: url(~/img/icon-chepaitong.png) no-repeat;
    background-size: contain;
}*/

/**修改订单列表的样式以适应底部标签栏的情况**/
/*.orderList {
     padding-bottom: 52px;   
 }*/


/*.newsItem {
     padding-bottom: 52px;
 }*/
/**车务知识列表图片样式**/
/*.zhishi .newsItem dl dt .newsItem_img img {
     width: 100%;height: 100%;
     border: none;
 }

.news-article .article_main {
    font-size:12px!important;
    line-height: 2em;
    padding-bottom: 52px;
 }
.news-article .article_main img {
    max-width:100%;
    width: auto;height: auto;
    display: block!important;
    margin: auto;
}*/

/*.ajaxLogin {
    display: none;
}*/
/*.ajaxLoginInner {
    
}*/
/*.ajaxLoginInner  input {
    box-sizing: border-box;
    height: 40px;
    line-height: 40px;
}
.ajaxLoginInner .carPhone_lastinput2{
    height: 40px;
    line-height: 40px;
}

.ajax-login {
   width: 96%;
   display: block;
    box-sizing: border-box;    
    margin: 0 auto; 
}*/
.btn-disabled {
    background-color: #ddd !important;
    color: #808080 !important;
    border: none !important;
}
